.centered {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px;
}

.tableTitle {
    background-color: #9b9b9b;
    font-weight: bold;
}

.dotted-button {
    border: 1px dotted gray;
}

#team1-button {
    background-color: indianred;
}

#team2-button {
    background-color: turquoise;
}

#restart-button {
    border: 1px solid black;
    background-color: #9b9b9b;
    padding: 5px;
    margin: 2px auto;
}